.grid-container {
    display: grid;
    gap: 100px 10px;
    grid-template-columns: auto auto auto;
    background-color: rgb(107, 205, 136);
    padding: 10px;
}

.grid-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

